# devenv
.devenv
devenv.local.nix
/devenv.lock
/devenv.yaml

# CMake build
CMakeUserPresets.json
build*/

# git-hooks
.pre-commit-config.yaml

# woodpecker metadata
tarcisio-conan-flake-pipeline-*-metadata.json

# claude
**/.claude/settings.local.json
.claude/settings.json
.claude/agents
.mcp.json
.devcontainer.json
